body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  height: 500px;
  flex-direction: row;

  text-align: center;
  justify-content: center;
}
.item {
  width: 50%;
 }
